@import url("https://use.typekit.net/jmk3xov.css");

.module {
  cursor: url('island copy.png'), auto;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  /* grid-row: 1; */
  z-index: 50;
  height: 100vh;
}

:root {
  --dark-bg: rgba(25, 25, 25, 0.95);
  --spacing: 350px;
  font-family: 'Helvetica Neue';
  font-style: normal;
}

body {
  display: grid;
  /* grid-template-rows: repeat(2, 100vh); */
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */

  grid-row: 2;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0%;
  transition: 20ms ease-out;
  transition-delay: 600ms;
  border: 0px;
  border-radius: 10px;
  z-index: 0;
  background-color: rgb(36, 36, 36);
  width: 90vw;
  height: 90vh;
}

.modal.active {
  opacity: 100%;
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 4rem;
  line-height: 1.5;
  vertical-align: middle;
}

.modal-header .close-button {
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  background: none;
  font-family: 'Helvetica Neue Light';
  font-size: 1.25rem;
  line-height: 1.5;
}

.modal-body {
  padding: 10px 15px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: 'Helvetica Neue Light';
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 20ms ease-out;
  transition-delay: 600ms;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
